.zoom-effect {
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  /* transition: all 0.3s ease; */
}

.zoom-effect:hover {
  transform: scale(1.2);
  border-radius: 10px;
}

.zoom-effect:not(.active):hover {
  background-color: #640f28;
}
