body {
  /* margin: 0px 400px; */
  /* padding: 0px 150px; */
  background: linear-gradient(#640f28, #2c2c2c);
  background-attachment: fixed;
}

/* h1 {
  font-family: "Lucida Handwriting", cursive;
  font-family: Arial, Helvetica, sans-serif;
} */

/* Accordion ***********************************************************/
.accordion {
  padding: 0px 200px !important;
}

.accordion-button {
  background-color: #ceb4a9 !important;
}

.accordion-body {
  background-color: #cda174 !important;
}

/* Image ***********************************************************/
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
  margin-top: 30px;
  padding: 0px 100px;
}

.image-card {
  overflow: hidden;
  text-align: center;
}

.image-card img {
  /* width: 30%;
  height: 30%; */
  border-style: solid;
  border-width: 8px;
  border-color: #cda174;
  border-radius: 20px;
}

.image-card img:hover {
  zoom: 1.4;
}

.image-card p {
  margin: 0px;
  padding: 10px;
}

/* Navbar ***********************************************************/
.active {
  background-color: #a87883;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ceb4a9;
  position: sticky;
  z-index: 9999;
  top: 0px;
  border-radius: 10px;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #640f28;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #640f28;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

/* nav ul li a:not(.active):hover {
  background-color: #a87883;
} */

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #640f28;
  border-radius: 0.2rem;
}

/* Pagination ***********************************************************/
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #eee;
  border-color: #eee;
}

.pagination button.active {
  font-weight: 900;
  border-color: yellow;
  background: #a87883;
  color: #2c2c2c;
}

/* Drag n Drop ***********************************************************/
.dropzone {
  width: 100%;
  padding: 20px;
  border: 2px solid #cda174;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  color: #ceb4a9;
}

/* Contact ***********************************************************/
input {
  width: 100%;
  margin: 5px 0px;
  background-color: #cda174;
}

textarea {
  margin: 5px 0px;
  background-color: #cda174;
}

/* Media ***********************************************************/
@media screen and (max-width: 430px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
